{% extends 'base.html' %}

{% block content %}
<div class="container my-4">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h1 class="card-title">Subscriber Detail</h1>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <dl class="row">
                                <dt class="col-sm-4">Subscriber Email:</dt>
                                <dd class="col-sm-8">{{ subscriber.email }}</dd>
                                <dt class="col-sm-4">Subscribed At:</dt>
                                <dd class="col-sm-8">{{ subscriber.subscribed_at }}</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
