{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Edit Product{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h2 class="card-title">Edit Product</h2>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary btn-block mt-4">Update Product</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
