{% extends 'base.html' %}

{% block content %}

<div class="container my-5">
    <div class="my-5">
        <h1 class="mb-4">Your Cart</h1>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Product</th>
                        <th scope="col" style="width: 15%;">Quantity</th>
                        <th scope="col" style="text-align: right">Price</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cart in carts %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>
                            <div class="d-flex align-items-center">
                                <div class="mr-3">
                                    <img src="{{ cart.item.mainImage.url }}" alt="{{ cart.item.name }}" class="img-thumbnail" style="max-width: 80px;">
                                </div>
                                <div>
                                    <h5 class="mb-0">{{ cart.item.name }}</h5>
                                    <p class="text-muted mb-0">{{ cart.item.description }}</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <a href="{% url 'order:decrease' pk=cart.item.pk %}" class="btn btn-outline-secondary"><i class="fas fa-minus"></i></a>
                                </div>
                                <input type="text" class="form-control text-center" value="{{ cart.quantity }}" readonly>
                                <div class="input-group-append">
                                    <a href="{% url 'order:increase' pk=cart.item.pk %}" class="btn btn-outline-secondary"><i class="fas fa-plus"></i></a>
                                </div>
                            </div>
                        </td>
                        <td style="text-align: right">&#36; {{ cart.get_total }}</td>
                        <td>
                            <a href="{% url 'order:remove' pk=cart.item.pk %}" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i> Remove</a>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="4" class="text-right font-weight-bold">Total:</td>
                        <td style="text-align: right" class="font-weight-bold">&#36; {{ order.get_totals|floatformat:2 }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row mt-4">
            <div class="col-md-6">
                <a href="{% url 'shop:home' %}" class="btn btn-warning btn-lg btn-block"><i class="fas fa-arrow-left"></i> Continue Shopping</a>
            </div>
            <div class="col-md-6">
                <a href="{% url 'payment:checkout' %}" class="btn btn-success btn-lg btn-block"><i class="fas fa-credit-card"></i> </a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
